.col-sm-3 {
  padding-left:0;
  padding-right:0;
}

.col-sm-9 {
  padding-left:0;
  padding-right:0;
}

.box-body {
  padding:0;
}

.nav-tabs-custom {
  overflow-y:scroll;
}

#update {
  width:100%;
}

#basic_bar {
  overflow-y: scroll;
}

#table {
  overflow-y:scroll;
}